**/*.rs.bk
*.iml
*.pdb
.DS_Store
.idea/
.vscode/
codecov
codecov.SHA256SUM*
debug/
flamegraph*.svg
perf.data*
pg_regress/regression.diffs
pg_regress/regression.out
pg_regress/results
target/
temp/
tests/pg_regress/regression.diffs
tests/pg_regress/regression.out
tests/pg_regress/results
tmp/
venv/
